# Server
PORT=3000

# Supabase
SUPABASE_URL=https://***.supabase.co
SUPABASE_SERVICE_ROLE_KEY=<your_supabase_service_role_key>
SUPABASE_ANON_KEY=<your_supabase_anon_key>

# JWT
JWT_SECRET=<your_jwt_secret_frase_generated>
JWT_EXPIRES_IN=7d

# Jamendo
JAMENDO_CLIENT_ID=<your_jamendo_client_id>
JAMENDO_BASE_URL=https://api.jamendo.com/v3.0
